@charset "utf-8";
/* -------------------------------------------
    dragreplace
    @author Kazuya Hiruma
---------------------------------------------- */
/*
Font-size list (base: 13px)
 62% =  8px
 70% =  9px
 77% = 10px
 85% = 11px        162% = 21px        239% = 31px
 93% = 12px        170% = 22px        247% = 32px
100% = 13px        177% = 23px        254% = 33px
108% = 14px        185% = 24px        262% = 34px
116% = 15px        193% = 25px        270% = 35px
124% = 16px        200% = 26px        277% = 36px
131% = 17px        208% = 27px        285% = 37px
139% = 18px        216% = 28px        293% = 38px
147% = 19px        224% = 29px        300% = 39px
154% = 20px        231% = 30px        308% = 40px
*/
/**
 * clearfix
 */
.group {
  *zoom: 1; }
  .group:after {
    content: '';
    display: block;
    clear: both;
    height: 0; }

.replaceable {
  position: relative; }

.replaceItemMove {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.dragTarget {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 10000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 5px 5px 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 5px 5px 7px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 5px 5px 7px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 5px 5px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 5px 5px 7px rgba(0, 0, 0, 0.4);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -webkit-transform 0.2s ease-in-out;
  -ms-transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out; }

.dragger {
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
  height: 100%;
  background: #cdedff url(../img/img_dragger.png) center center no-repeat;
  -webkit-background-size: 22px 22px;
  background-size: 22px 22px; }
